<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap-reboot.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Controller - WebSocket Example</title>
</head>

<body>
    <h1><a href="/">WebSocket Example</a></h1>
    <h2>Controller</h2>
    <div class="container">
        <h3>Controller Name</h3>
        <input id="name" name="name" type="text">
        <button onclick="sendName()">SEND</button>
        <h3>Message to Monitor</h3>
        <input id="message" name="message" type="text">
        <button onclick="sendMessage()">SEND</button>

        <hr>
        <div>event console</div>
        <div id="console"></div>
    </div>

    <script src="scripts/utility.js"></script>
    <script>
        const ROLE = 'controller';
        const logger = new Logger(document.getElementById('console'));
        const socket = new WebSocket(`ws://${location.host}/socket/`);
        new WebSocket()
        socket.onopen = () => {
            logger.recieve('socket onopen');
            // establish connection
            const json = JSON.stringify({ role: ROLE });
            socket.send(json);
        }
        socket.onmessage = event => {
            logger.recieve(`socket onmessage '${event.data}'`);
        }
        socket.onclose = () => {
            logger.recieve('socket onclose');
        }
        socket.onerror = error => {
            logger.error(error.message);
        }

        function sendName() {
            const nameElement = document.getElementById('name');
            const json = JSON.stringify({
                role: ROLE,
                name: nameElement.value
            });
            socket.send(json);
            logger.send(`json: ${json}`);
        }
        function sendMessage() {
            const nameElement = document.getElementById('name');
            const messageElement = document.getElementById('message');
            const json = JSON.stringify({
                role: ROLE,
                name: nameElement.value,
                message: messageElement.value
            });
            socket.send(json);
            logger.send(`json: ${json}`);
            messageElement.value = '';
        }
    </script>
</body>

</html>