<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap-reboot.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Home - WebSocket Example</title>
</head>

<body>
    <h1><a href="/">WebSocket Example</a></h1>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/monitor">monitor</a></li>
                <li><a href="/controller">controller</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>