<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap-reboot.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Monitor - WebSocket Example</title>
</head>

<body>
    <h1><a href="/">WebSocket Example</a></h1>
    <h2>Monitor</h2>
    <div class="container">
        <h3>Controllers</h3>
        <table>
            <thead>
                <th>No</th>
                <th>Name</th>
                <th>Message</th>
                <th>Unicast Message to Controlle</th>
            </thead>
            <tbody id="controllers"></tbody>
        </table>
        <h3>Broadcast Message to Controllers</h3>
        <input type="text" name="broadcastMessage" id="broadcastMessage">
        <button onclick="broadcast()">SEND</button>
        <hr>
        <div>event console</div>
        <div id="console"></div>
    </div>

    <script src="scripts/utility.js"></script>
    <script src="scripts/websocket-client.js"></script>
    <script>
        const ROLE = 'monitor';
        const logger = new Logger(document.getElementById('console'));
        const table = new MonitorTable(document.getElementById('controllers'));
        const socket = new WebSocketClient('socket');
        // 接続
        socket.addEventListener(
            WebSocketEventType.OPENED,
            () => {
                logger.recieve('socket opened');
                socket.send({ role: ROLE });
            }
        );
        // 切斷
        socket.addEventListener(
            WebSocketEventType.CLOSED,
            () => logger.recieve('socket closed')
        );
        // 障害
        socket.addEventListener(
            WebSocketEventType.FAILED,
            error => logger.recieve(`socket failed: ${error.data}`)
        );
        // 受信
        socket.addEventListener(
            WebSocketEventType.RECIEVED,
            data => {
                logger.recieve(`socket recieved: '${JSON.stringify(data)}'`);
                table.create(data, (key, message) => {
                    // send unicast message
                    const sendData = {
                        role: ROLE,
                        message: message,
                        destinationKey: key
                    }
                    socket.send(sendData);
                    logger.send(`sendData: ${JSON.stringify(sendData)}`);
                });
            }
        );

        function broadcast() {
            const input = document.getElementById('broadcastMessage');
            // send unicast message
            const sendData = {
                role: ROLE,
                message: input.value
            }
            input.value = '';
            socket.send(sendData);
            logger.send(`sendData: ${JSON.stringify(sendData)}`);
        }
    </script>
</body>

</html>